/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
	/*Insira a variavel das outras cores inspecionando o modelo do figma*/
	/*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
	--cor-de-fundo: #f5f5f5;
	--cor-de-link: #000;
	--cor-de-texto: #464646;
}

body {
	box-sizing: border-box;
	background-color: var(--cor-de-fundo);
	font-family: 'Raleway';
	margin: 0;
	padding: 0;
	line-height: 1;
	color: var(--cor-de-texto);
}
ol,
ul,
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

section.menu {
	max-width: 1136px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 88px;
	gap: auto;
}
section.menu header {
	display: flex;
	align-items: center;
	gap: 8px;
	flex-wrap: nowrap;
}
section.menu header img {
	width: 24px;
	height: 24px;
}
section.menu header .menu__title {
	font-size: 16px;
	font-weight: bold;
	white-space: nowrap;
}
section.menu nav .menu__list ul {
	margin: 0;
	padding: 0;
}
section.menu nav .menu__list li {
	display: inline-block;
	margin-right: 16px;
}
.menu__list__item__contato {
	display: none;
}
.menu__list__item a,
.menu__list__item__contato a {
	font-size: 16px;
	font-weight: 500;
}
.menu__list__item__contato a {
	font-weight: bold;
}

/*Sessão Title*/

section.title {
	display: flex;
	justify-content: center;
	gap: 32px;
	padding: 82px;
}

section.title .title__div {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	max-width: 1136px;
}
.title__profile {
	width: 368px;
	height: 368px;
}
section.title .title__div .title__container {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
section.title .title__div .title__container h2 {
	font-size: 52px;
	font-weight: bold;
}
section.title .title__div .title__container h3 {
	font-size: 22px;
	font-weight: 400;
}
section.title .title__div .title__container .title__network {
	display: flex;
	gap: 32px;
}
section.title .title__div .title__container .title__network .title__network__item a {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	gap: 4px;
}

/*Sessão About*/

section.about {
	display: flex;
	justify-content: center;
	background-color: #eaf2fd;
	padding: 82px;
}
section.about .about__container {
	max-width: 1136px;
	padding: 32px;
}
section.about .about__container .about__title {
	font-size: 32px;
	font-weight: bold;
}
section.about .about__container .about__paragraph {
	font-size: 16px;
	font-weight: 400;
}

/*Sessão Skills*/

section.skills {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 82px;
}
section.skills .skills__title {
	text-align: center;
	font-size: 32px;
	font-weight: bold;
}
section.skills .skills__line {
	max-width: 1136px;
	display: flex;
	justify-content: space-between;
	gap: 16px;
}
section.skills .skills__line .skills__box {
	width: 176px;
	height: 174px;
	background-color: #fff;
	padding: 16px;
}
section.skills .skills__line .skills__box ul {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 8px;
	margin: 0;
	padding: 0;
	height: 100%;
}
section.skills .skills__line .skills__box ul .skills__name {
	font-size: 16px;
	font-weight: bold;
}

/*Sessão Hobbies*/

section.hobbies {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 82px;
}
section.hobbies .hobbies__title {
	text-align: center;
	font-size: 32px;
	font-weight: bold;
}
section.hobbies .hobbies__line {
	max-width: 1136px;
	display: flex;
	justify-content: space-between;
	gap: 16px;
}
section.hobbies .hobbies__line .hobbies__box {
	width: 176px;
	height: 174px;
	background-color: #fff;
	padding: 16px;
}
section.hobbies .hobbies__line .hobbies__box ul {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 8px;
	margin: 0;
	padding: 0;
	height: 100%;
}
section.hobbies .hobbies__line .hobbies__box ul .hobbies__name {
	font-size: 16px;
	font-weight: bold;
}

/* Experiência Acadêmica*/

section.academic {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #eaf2fd;
	padding: 82px;
}
section.academic .academic__title {
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}
section.academic .academic__courses {
	display: flex;
	max-width: 1136px;
	gap: 32;
}
section.academic .academic__courses .academic__courses__box {
	display: flex;
	flex-direction: column;
	max-width: 386px;
}

/* experiência*/

section.experience {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
	padding: 82px;
}
section.experience .experience__section__title {
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}
section.experience .experiencie__box {
	display: flex;
	align-items: center;
	max-width: 1136px;
	gap: 16px;
}
section.experience .experiencie__box:nth-child(odd) {
	flex-direction: row-reverse;
}
.experience__title {
	font-size: 22px;
	font-weight: bold;
}
.experience__text {
	font-size: 16px;
	font-weight: 500;
}
.experience__description {
	display: flex;
	justify-content: space-between;
	gap: 16px;
	width: 100%;
}
.experiencia__botao--repo,
.experiencia__botao--demo {
	border: 1px solid #2a7ae4;
	padding: 16px;
	font-size: 16px;
	font-weight: 400;
}
.experiencia__botao--repo {
	color: #2a7ae4;
}
.experiencia__botao--repo {
	background-color: #2a7ae4;
	color: #fff;
}

/*Contato*/

section.formcontato {
	display: flex;
	justify-content: center;
	padding: 82px;
	background-color: #eaf2fd;
	width: 100%;
}
section.formcontato .formcontato__contacto {
	display: flex;
	gap: 16px;
	max-width: 1136px;
}
section.formcontato .formcontato__contacto .formcontato__text {
	display: flex;
	flex-direction: column;
	justify-content: start;
}
.formcontato__title {
	font-size: 32px;
	font-weight: bold;
}
.formcontato__subtext {
	font-size: 16px;
	font-weight: 500;
	margin: 0;
}
.formcontato__form {
	display: flex;
	flex-direction: column;
	gap: 32px;
	margin: 16px 0;
}
.formcontato__input,
.formcontato__textarea {
	padding: 16px;
	font-size: 16px;
	font-weight: 400;
	outline: none;
}
.formcontato__botao {
	padding: 16px;
	border: 1px solid #2a7ae4;
	color: #fff;
	background-color: #2a7ae4;
}

/*footeer*/

section.footer {
	display: flex;
	justify-content: center;
	padding: 32px;
	width: 100%;
	margin: 0;
}
.footer__rodape {
	font-size: 16px;
	font-weight: 500;
	text-align: center;
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (max-width: 768px) {
	/* Menu */
	section.menu {
		height: 56px;
		padding: 0 32px;
	}
	.menu__list {
		display: none;
	}
	.menu__list__item__contato {
		display: block;
	}

	/*title*/
	section.title {
		padding: 32px;
	}
	section.title .title__div {
		gap: 32px;
	}
	.title__profile {
		width: 146px;
		height: 146px;
	}
	section.title .title__div .title__container {
		gap: 8px;
	}
	section.title .title__div .title__container .title__bio {
		font-size: 22px;
		font-weight: bold;
		padding: 0;
		margin: 0;
	}
	section.title .title__div .title__container .title__subsection {
		font-size: 16px;
		font-weight: 400;
		padding: 0;
		margin: 0;
	}

	/* About */
	section.about {
		padding: 32px;
	}
	section.about .about__container {
		padding: 0;
	}
	section.about .about__container .about__title {
		font-size: 22px;
		font-weight: bold;
	}
	section.about .about__container .about__paragraph {
		font-size: 14px;
		font-weight: 400;
	}

	/*Skills*/
	section.skills {
		padding: 32px;
	}
	section.skills .skills__title {
		font-size: 22px;
		font-weight: bold;
	}
	section.skills .skills__line {
		padding: 0;
		flex-wrap: wrap;
	}

	/*Hobbies*/
	section.hobbies {
		padding: 32px;
	}
	section.hobbies .hobbies__title {
		font-size: 22px;
		font-weight: bold;
	}
	section.hobbies .hobbies__line {
		padding: 0;
		flex-wrap: wrap;
	}

	/*Experiências acadêmicas*/
	section.academic {
		padding: 32px;
	}
	section.academic .academic__title {
		font-size: 22px;
		font-weight: bold;
	}
	section.academic .academic__courses {
		padding: 0;
		gap: 16px;
	}
	section.academic .academic__courses .academic__courses__box {
		flex: 1;
	}
	section.academic .academic__courses .academic__courses__box .academic__courses__list {
		margin: 0;
		padding: 0;
	}
	section.academic .academic__courses .academic__courses__box .academic__courses__list .academic__courses__item__img img {
		width: 100%;
	}

	/*Expeirência profissional*/
	section.experience {
		padding: 32px;
	}
	section.experience .experience__section__title {
		font-size: 22px;
		font-weight: bold;
	}
	section.experience .experiencie__box {
		padding: 0;
		flex-direction: column;
		align-items: start;
	}
	section.experience .experiencie__box img {
		width: 100%;
	}
	section.experience .experiencie__box:nth-child(odd) {
		flex-direction: column;
	}
	section.experience .experiencie__box .experience__info .experience__description {
		justify-content: start;
	}
	section.experience .experiencie__box .experience__info .experience__title {
		font-size: 16px;
	}
	section.experience .experiencie__box .experience__info .experience__text {
		font-size: 14px;
	}

	/* Sessao contato */
	section.formcontato {
		padding: 32px;
	}
	section.formcontato .formcontato__contacto {
		padding: 0;
		width: 100%;
	}
	section.formcontato .formcontato__contacto .formcontato--esquerda {
		display: none;
	}
	section.formcontato .formcontato__contacto .formcontato__text {
		padding: 0;
		width: 100%;
	}
	section.formcontato .formcontato__contacto .formcontato__text .formcontato__title {
		font-size: 22px;
		font-weight: bold;
	}
	section.formcontato .formcontato__contacto .formcontato__text .formcontato__subtext {
		font-size: 16px;
		font-weight: 500;
	}
	section.formcontato .formcontato__contacto .formcontato__text .formcontato__form {
		margin: 32px 0;
	}
}

/*Mobile*/
@media (min-width: 425px) {
	/*Menu*/

	/*Titulo*/

	/*Sessão sobre*/

	/*Skills*/

	/*Hobbies*/

	/*Formação Acadêmica*/

	/*Experiência Profissional*/

	/*Contato*/

	/*Footer*/
}
